@inject IViewLocalizer Localizer
@inject IWebHostEnvironment environment

@{
    ViewData["Title"] = Localizer["Title"];
    ViewData["H1"] = Localizer["H1"];
    string? returnUrl = Context.Request.Query["returnUrl"];
    string? callbackUri = Context.Request.Query["callbackUri"];
}
<p>
    @Localizer["Message"]
</p>
<a asp-action="Login" asp-controller="Account" asp-route-returnUrl="@returnUrl" class="w-100 mb-2 btn btn-lg rounded-0 btn-primary">
    @Localizer["Button_Login"]
</a>

@if (environment.IsStaging() && !string.IsNullOrEmpty(callbackUri))
{
    <a class="w-100 mb-2 btn btn-lg rounded-0 btn-primary" href="@callbackUri">
        @Localizer["ResetPassword"]
    </a>
}