@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
@inject SignInManager<ApplicationUser> SignInManager 

@model LoginViewModel

@{
    ViewData["Title"] = Localizer["Title"];
    ViewData["H1"] = Localizer["H1"];
    string? returnUrl = Context.Request.Query["returnUrl"];
}


<form asp-action="Login" asp-controller="Account" asp-route-returnUrl="@returnUrl">

    <div class="form-floating mb-3">
        <input asp-for="UserName" type="email" class="form-control rounded-0">
        <label for="@nameof(Model.UserName)">@SharedLocalizer["Input_Email"]</label>
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="Password" type="password" class="form-control rounded-0">
        <label for="@nameof(Model.Password)">@SharedLocalizer["Input_Password"]</label>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button class="w-100 mb-2 btn btn-lg rounded-0 btn-primary" type="submit">@Localizer["Submit"]</button>
    <p>
        @SharedLocalizer["Input_Password"] <a asp-action="ForgotPassword" asp-controller="Account" asp-route-returnUrl="@returnUrl">@Localizer["ForgotLink"]</a>
    </p>
</form>
<p>
    @Localizer["RegisterMessage"] <a asp-action="Register" asp-controller="Account" asp-route-returnUrl="@returnUrl">@Localizer["RegisterLink"]</a>
</p>