@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

@model ResetPasswordViewModel
@{
    ViewData["Title"] = Localizer["Title"];
    ViewData["H1"] = Localizer["H1"];
    string? returnUrl = Context.Request.Query["returnUrl"];
    string? code = Context.Request.Query["code"];
    string? email = Context.Request.Query["email"];
}

<form asp-action="ResetPasswordPost" asp-controller="Account" asp-route-returnUrl="@returnUrl" asp-route-email="@email" asp-route-code="@code">
    @if (Model?.Errors != null)
    {
        <div class="text-danger">
            <ul>
                @foreach (string error in Model.Errors)
                {
                    <li>
                        @error
                    </li>
                }
            </ul>
        </div>
    }

    <div class="form-floating mb-3">
        <input asp-for="Password" class="form-control rounded-0">
        <label for="@nameof(Model.Password)">@SharedLocalizer["Input_Password"]</label>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="PasswordConfirmation" class="form-control rounded-0">
        <label for="@nameof(Model.PasswordConfirmation)">@Localizer["PasswordConfirmation"]</label>
        <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
    </div>

    <button class="w-100 mb-2 btn btn-lg rounded-0 btn-primary" type="submit">@Localizer["Submit"]</button>
</form>